<!-- Esta es la barra de título principal -->
<ion-header [translucent]="true">
  <ion-toolbar color= "dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Talleres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="background-color: red">
      <ion-title size="large">Guia Map</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Botón de contacto -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom" *ngFor="let data of DataContactos">
      <ion-fab-button (click)="llamar(data.celular)"><ion-icon name="call"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="abrirVentana(data.facebook)"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="abrirVentana(data.instagram)"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <!-- ion-fab-button><ion-icon name="globe"></ion-icon></ion-fab-button -->
    </ion-fab-list>
  </ion-fab>

  <!-- Contenedor del mapa -->
  <div id = "talle" style="height: 100%"></div>

</ion-content>