<!-- Esta es la barra de título principal -->
<ion-header [translucent]="true">
  <ion-toolbar color= "dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Flora y fauna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let planta of plantas" [routerLink]="['/florafauna',planta.idInformacion]">
        <ion-avatar slot="start">
           <ion-img [src]= "planta.rutaImagen"> </ion-img>
        </ion-avatar>
        <ion-label>
          {{planta.descripcion}}
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
