<ion-content class="background">
  <div class="content">

    <div class="button-action">
      <ion-button fill="clear" color="dark" size="small">
        <b><p class="signin-text">Iniciar sesion</p></b>
      </ion-button>

      <ion-button fill="clear" color="dark" size="small" routerLink="/registro" routerDirection="root">
        <b><p class="signup-text">Registrarse</p></b>
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-input placeholder="Correo" type="text" [(ngModel)]="correo" style="padding-left:10px !important; font-family:'Nunito',san-serif;"></ion-input><br>
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="contrasenia" style="padding-left:10px !important; font-family:'Nunito',san-serif;"></ion-input>

    </div>

    <ion-button class="actionbutton" expand="full" fill="clear" (click)="tryLogin()" style="text-transform:none;">Iniciar sesion</ion-button>
   
    
    
  </div>
  
</ion-content>