<ion-app>
  <ion-menu side="start" content-id="main-content" class="my-custom-menu">
    <ion-header>
      <ion-toolbar translucent color= "dark">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color= "dark">
      <ion-list>
        <ion-item routerLink="/tiendas"  color= "dark" >
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>Tiendas</ion-label>
        </ion-item>
        <ion-item routerLink="/posadas" color= "dark">
          <ion-icon name="bed-outline" slot="start"></ion-icon>
          <ion-label>Posadas</ion-label>
        </ion-item>
        <ion-item routerLink="/comida" color= "dark">
          <ion-icon name="restaurant-outline" slot="start"></ion-icon>
          <ion-label>Comida</ion-label>
        </ion-item>
        <ion-item routerLink="/medico" color= "dark">
          <ion-icon name="pulse-outline" slot="start"></ion-icon>
          <ion-label>Médicos</ion-label>
        </ion-item>
        <ion-item routerLink="/taller" color= "dark">
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          <ion-label>Talleres</ion-label>
        </ion-item>
        <ion-item routerLink="/florafauna" color= "dark">
          <ion-icon name="flower-outline" slot="start"></ion-icon>
          <ion-label>Flora y Fauna</ion-label>
        </ion-item>
        <ion-item routerLink="/about" color= "dark">
          <ion-icon name="warning-outline" slot="start"></ion-icon>
          <ion-label>Acerca de</ion-label>
        </ion-item>
        <ion-item routerLink="/update" color= "dark">
          <ion-icon name="refresh-outline" slot="start"></ion-icon>
          <ion-label>Actualizar base de datos</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- Esta es la barra de título principal -->
    <ion-header>
      <ion-toolbar color= "dark">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="prosesLogout()">
            <ion-icon slot="icon-only" name="exit"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>!Hola {{name}}!</ion-title>
      </ion-toolbar>
    </ion-header>
   
    <ion-content>
      <!-- Botón de contacto -->
      <ion-fab vertical="middle" horizontal="end" edge slot="fixed">
        <ion-fab-button color="danger">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
      <ion-fab-list side="bottom" *ngFor="let data of DataContactos">
        <ion-fab-button (click)="llamar(data.celular)"><ion-icon name="call"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="abrirVentana(data.facebook)"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="abrirVentana(data.instagram)"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
        <!-- ion-fab-button><ion-icon name="globe"></ion-icon></ion-fab-button -->
      </ion-fab-list>
    </ion-fab>
    
    <!-- Contenedor del mapa -->
    <div id = "map" style="height: 100%"></div>
    </ion-content>
  </div>
</ion-app>