<!-- Esta es la barra de título principal -->
<ion-header [translucent]="true">
  <ion-toolbar color= "dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col col-3></ion-col>
          <p><br><br>Desarrollado en LANIA por:
          <br><br>Hugo Arturo Chena Rojas
          <br>Herminio del Angel Flores
          <br>Juan Diego García Machuca
          <br>Jesús Alberto Melchor Oliveros</p>
        <ion-col col-3></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
