<ion-list *ngFor="let data of DataRutas">
  <ion-list-header *ngIf="data.id_ruta == idRuta">Ruta</ion-list-header>
  <ion-item *ngIf="data.id_ruta == idRuta">
    <ion-label>{{ data.descripcion }}</ion-label>
  </ion-item>
  <ion-item *ngIf="data.id_ruta == idRuta">
    <ion-label>Dificultad: {{ data.dificultad }}</ion-label>
  </ion-item>
  <ion-item *ngIf="data.id_ruta == idRuta">
    <ion-label>Distancia: {{ data.distancia }} mts</ion-label>
  </ion-item>
</ion-list>