<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/florafauna">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{planta.idInformacion}}</ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="planta.rutaImagen"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{planta.descripcion}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>