<!-- Esta es la barra de título principal -->
<ion-header [translucent]="true">
  <ion-toolbar color= "dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar base de datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <ion-button>Actualizar</ion-button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
