ion-content.background{
    --background:url(../../assets/physisLogo.jpg) no-repeat 50% 2%;
    
    
   

}

.content{
    position:fixed;
    width:80%;
    margin-top:230px;
    margin-left: 10%;
    min-height: 500px;
    max-height: 900px;
    

} 

.button-action{

    margin-left:5px;
}

.signup-text{
    font-size:x-small;
    
    text-align:center;
    font-family:'Nunito', sans-serif;
    text-transform:none;

}

.signin-text{
    font-size:x-small;
    color:#000000;
    text-align:center;
    font-family:'Nunito', sans-serif;
    text-transform:none;
} 

ion-input{

    background-color:#ededed;
    border-radius:5px;
    font-size:small;
    width:301.5px;
}

.actionbutton{
    background-color:turquoise;
    color:black;
    border-radius:5px;
    margin-left:15px;
    margin-right:13px;
    font-size:small;
    font-family:'Nunito', sans-serif;

}

ion-checkbox{
    background:#a04eff;
    border-radius:5px;
    --height:10px;
    --width:10px;
    --checkmark-color:white;
    --background-checked:#a04eff;
    --border-color:#a04eff;

}

.line{
    border-bottom:1px solid grey;
    margin-bottom:16px;

}

.btn-azul{
    background-color:#3b5998;
    width:100%;
    border-radius:6px;
    color:cornsilk;
    margin-bottom:12px;
    font-family:'Nunito',sans-serif;
    text-transform:none;

}

.googlebutton{
    background-color:#ea4335;
    width:100%;
    border-radius:6px;
    color:cornsilk;
    margin-bottom:40px;
    font-family:'Nunito',sans-serif;
    text-transform:none;

}