<ion-content class="background" scroll="false">
  <div class="content">
    <div class="button-action">
      <ion-button fill="clear" color="dark" size="small" routerLink="/login" routerDirection="root">
      <p class="signin-text">Iniciar sesion</p></ion-button>
    
  
    
      <ion-button fill="clear" color="dark" size="small" >
      <p class="signup-text">Registrarse</p></ion-button>
    </div>
  
    <div class="ion-padding">
      <ion-input placeholder="Nombre" type="text" style=" font-family:'Nunito',san-serif;" [(ngModel)]="nombre" ></ion-input><br>
      <ion-input placeholder="Apellidos" type="text" style=" font-family:'Nunito',san-serif;" [(ngModel)]="apellidos" ></ion-input><br>
      <ion-item>
        <ion-label style="color:#999; font-family:'Nunito',san-serif;">Genero</ion-label>
        <ion-select interface="popover" [(ngModel)]="sexo">
          <ion-select-option value="f">Femenino</ion-select-option>
          <ion-select-option value="m">Masculino</ion-select-option>

        </ion-select>
      </ion-item>
      
      <ion-input placeholder="Correo" type="email" style=" font-family:'Nunito',san-serif;" [(ngModel)]="correo" ></ion-input><br>
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="contrasenia" style="  font-family:'Nunito',san-serif;"></ion-input>
      <br>
      <ion-input placeholder="Confirmar Contraseña" type="password" [(ngModel)]="confirm_contra" style=" font-family:'Nunito',san-serif;"></ion-input>

    </div>
    <ion-button class="actionbutton" expand="full" fill="clear" style="text-transform:none;" (click)=tryRegister() [disabled]="disabledButton">Registrarse</ion-button>
    <ion-button fill="clear" style="font-size:10px; padding-bottom: 20px; color:#a8a8a8; margin-right: 10px; text-transform:none; font-family:'Nunito',san-serif">Ya tengo una cuenta</ion-button> 
  </div>



</ion-content>
